



21 Requirements for disclosure to be protected
The Law of South Africa (LAWSA)


LAWSA  >  The Law of South Africa (LAWSA)  >  Labour Law: Part 2  >  Annual Cumulative Supplement 2025  >  Resolution of Labour Disputes: Unfair Labour Practices
21   Requirements for disclosure to be protected

TEXT AND NOTE 3: The Protected Disclosures Act 26 of 2000 s 1 sv “disclosure” has been amended to mean any disclosure of information regarding any conduct of an employer, or of an employee or of a worker of that employer, made by any employee or worker who has reason to believe that the information concerned shows or tends to show one or more of the following —
(a) that a criminal offence has been committed, is being committed or is likely to be committed;
(b) that a person has failed, is failing or is likely to fail to comply with any legal obligation to which that person is subject;
(c) that a miscarriage of justice has occurred, is occurring or is likely to occur;
(d) that the health or safety of an individual has been, is being or is likely to be endangered;
(e) that the environment has been, is being or is likely to be damaged;
(f) unfair discrimination as contemplated in Chapter II of the Employment Equity Act 55 of 1998, or the Promotion of Equality and Prevention of Unfair Discrimination Act 4 of 2000; or
(g) that any matter referred to in paragraphs (a)–(f) above has been, is being or is likely to be deliberately concealed: Protected Disclosures Amendment Act 5 of 2017 s 1(b).
  S 1 sv “worker” has been inserted to mean —
(a) any person who works or worked for another person or for the State; or
(b) any other person who in any manner assists or assisted in carrying on or conducting or conducted the business of an employer or client,

as an independent contractor, consultant, agent; or
(c) any person who renders services to a client while being employed by a temporary employment service: Protected Disclosures Amendment Act 5 of 2017 s 1(g).
  S 1 sv “business” has been inserted to include the whole or part of any business, trade, undertaking or service: Protected Disclosures Amendment Act 5 of 2017 s 1(a).
  S 1 sv “temporary employment service” has been inserted to mean any person who, for reward, procures for or provides to a client other persons who —
(a) render services to, or perform work for, the client; and
(b) are remunerated by the temporary employment service: Protected Disclosures Amendment Act 5 of 2017 s 1(f).

TEXT AND NOTE 21: S 1 sv “occupational detriment”, in relation to an employee or a worker, has been amended to mean —
(a) being subjected to any disciplinary action;
(b) being dismissed, suspended, demoted, harassed or intimidated;
(c) being transferred against his or her will;
(d) being refused transfer or promotion;
(e) being subjected to a term or condition of employment or retirement which is altered or kept altered to his or her disadvantage;
(f) being refused a reference, or being provided with an adverse reference, from his or her employer;
(g) being denied appointment to any employment, profession or office;
(h) being subjected to any civil claim for the alleged breach of a duty of confidentiality or a confidentiality agreement arising out of the disclosure of —
(i) a criminal offence; or
(ii) information which shows or tends to show that a substantial contravention of, or failure to comply with the law has occurred, is occurring or is likely to occur;
(i) being threatened with any of the actions referred to in paragraphs (a)–(h) above; or
(j) being otherwise adversely affected in respect of his or her employment, profession or office, including employment opportunities, work security and the retention or acquisition of contracts to perform work or render services: Protected Disclosures Amendment Act 5 of 2017 s 1(d).

NOTE 22: See Tanda v MEC, Department of Health 2023 1 BLLR 95 (LC); Mabula v Knysna Municipality 2023 12 BLLR 1301 (LC).


End of Document
21 Requirements for disclosure to be protected
Page 2 of 2


