



21 Requirements for disclosure to be protected
The Law of South Africa (LAWSA)


LAWSA  >  The Law of South Africa (LAWSA)  >  Labour Law: Part 2  >  Resolution Of Labour Disputes  >  Unfair Labour Practices  >  Specific Cases Of Unfair Labour Practices  >  Occupational Detriment Suffered Because Of A Protected Disclosure (Whistleblowing)

21  Requirements for disclosure to be protected  As is clear from the general principles set out above,1 the following requirements should be complied with before an employee would be entitled to protection, because of disclosures made by him or her about his or her employer or co-employees:2
(a) Determination whether information is in fact a disclosure:  “Disclosure” is defined3 as any disclosure of information4 regarding any conduct of the employer or any of his or her employees made by the employee who has reason to believe5 that the information shows one or more of the following “improprieties”:6
(b) that a criminal offence has been committed, is being committed, or is likely to be committed;7
(ii) that a person has failed, is failing, or is likely to fail, to comply with any legal obligation to which that person is subject;
(iii) that a miscarriage of justice has occurred, is occurring or is likely to occur;
(iv) that the health or safety of an individual has been, is being, or is likely to be, endangered;
(v) that the environment has been, is being or is likely to be, damaged;8
(vi) that there is unfair discrimination;9
(vii) that any of the above matters has been, is being or is likely to be deliberately concealed.10
(b) Determination if a disclosure is a “protected disclosure”:  “Protected disclosure”11 means a disclosure made:
(i) to a legal adviser;12
(ii) in good faith to his or her employer;13
(iii) in good faith to members of the Cabinet or executive council of a province;14
(iv) in good faith to the Public Protector; Auditor-General, and so forth;15
(v) to any other person in compliance with section 9 of the Protected Disclosures Act.16
  The above does not include a disclosure:
(i) amounting to the commission of an offence;17 or
(ii) made by a legal adviser based on information obtained during the provision of legal advice.18
(c) Determination of occupational detriment:  An “occupational detriment” is defined as being:19
(i) subjected to disciplinary action;20
(ii) dismissed, suspended, demoted, harassed or intimidated;21
(iii) transferred against his or her will;22
(iv) refused transfer or promotion;
(v) subjected to a term or condition of employment or retirement which is altered or kept altered to his or her disadvantage;
(vi) refused a reference, or being provided with an adverse reference, from his or her employer;
(vii) denied appointment to any employment, profession or office;
(viii) threatened with any of the above actions; or
(ix) otherwise adversely affected in respect of his or her employment, profession or office, including employment opportunities and work security.23


Footnotes
21	Update Information
2025 Cumulative Supplement, Update Information : 21
1	See par 20 ante.
2	See, in general, Tshishonga v Minister of Justice & Constitutional Development 2007 ILJ 195 (LC); Tshishonga v Minister of Justice & Constitutional Development 2009 ILJ 1799 (LAC); and also CWU v Mobile Telephones Networks 2003 ILJ 1670 (LC) (6 requirements identified to be complied with); Theron v Minister of Correctional Services 2008 ILJ 1275 (LC); Engineering Council of SA v City of Tshwane Metropolitan Municipality 2008 ILJ 889 (T); City of Tshwane Metropolitan Municipality v Engineering Council of SA 2010 ILJ 322 (SCA); Randles v Chemical Specialities 2010 ILJ 2150 (LC); Arbuthnot v SAMWUPF 2012 ILJ 584 (LC).
3	Protected Disclosures Act 26 of 2000 s 1 sv “disclosure”. See also H v M 2005 ILJ 1737 (CCMA); Tshishonga v Minister of Justice & Constitutional Development supra (3 instances to be distinguished, ie a disclosure, a protected disclosure or a general protected disclosure); Radebe v Premier Free State Province 2009 ILJ 1900 (LC); Radebe v Premier Free State Province 2012 ILJ 2353 (LAC); Ramsammy v Wholesale & Retail Sector SETA 2009 ILJ 1927 (LC). Regarding the requirements to be complied with for disclosure to qualify as general protected disclosure (s 9): Tshishonga v Minister of Justice & Constitutional Development (LC) supra.
4	Re meaning of “information”, see City of Tshwane Metropolitan Municipality v Engineering Council of SA supra (impropriety of exceptionally serious nature).
5	See Tshishonga v Minister of Justice & Constitutional Development (LC) supra.
6	See Thishonga v Minister of Justice & Constitutional Development (LC) supra; City of Tshwane Metropolitan Municipality v Engineering Council of SA supra (impropriety of exceptionally serious nature); IMATU v City of Matlosana Local Municipality 2014 ILJ 2459 (LC); Nxumalo v Minister of Correctional Services 2016 ILJ 177 (LC).
7	See Potgieter v Tubatse Ferrochrome 2014 ILJ 2419 (LAC).
8	Regarding the importance of sensitive environmental information, see Potgieter v Tubatse Ferrochrome supra.
9	In terms of the Promotion of Equality and Prevention of Unfair Discrimination Act 4 of 2000.
10	See, also, Global Technology Business Intelligence v CCMA 2005 ILJ 472 (LC) (seeking legal advice – not disclosure).
11	Protected Disclosures Act 26 of 2000 ss 8 9; Sekgobela v State Information Technology Agency 2008 ILJ 1995 (LC); State Information Technology Agency v Sekgobela 2012 ILJ 2374 (LAC); Radebe v Marshof, Premier of Free State Province supra; Ramsammy v Wholesale & Retail Sector SETA supra.
12	S 5. A disclosure by legal advisor is not protected: Randles v Chemical Specialities 2011 ILJ 1397 (LC). A disclosure, however, to a legal advisor may be protected: Randles v Chemical Specialities 2010 ILJ 2150 (LC).
13	S 6. See Radebe v Premier Free State Province 2012 ILJ 2353 (LAC); Ngobeni v Minister of Communications 2014 ILJ 2506 (LC) (disclosure to wrongdoer himself ); SAMWUNF v Arbuthnot 2014 ILJ 2434 (LAC) (no good faith); Nxumalo v Minister of Correctional Services supra.
14	S 7. See too Radebe v Marshof, Premier of Free State Province supra.
15	S 8. See Sekgobela v State Information Technology Agency supra; Randles v Chemicals Specialities 2010 ILJ 2150 (LC) (disclosure to Johannesburg Securities Exchange).
16	Radebe v Marshof, Premier of Free State Province supra; Ramsammy v Wholesale & Retail SETA supra. See s 1 sv “protected disclosure” par (e). See also Grieve v Denel 2003 ILJ 551 (LC); CWU v Mobile Telephone Networks supra; H v M 2005 ILJ 1737 (CCMA).
17	See fn 15 supra.
18	See fn 15 supra; Randles v Chemical Specialities 2011 ILJ 1397 (LC).
19	See s 1. See also s 2 regarding the purpose of the Act. 
20	See Engineering Council of SA v City of Tshwane Metropolitan Municipality supra (LC) (SCA) supra; IMATU v City of Matlosana Local Municipality supra (nexus between disclosure and disciplinary hearing).
21	Tshishonga v Minister of Justice & Constitutional Development (LC) supra.
22	Theron v Minister of Correctional Services supra.
23	See also Tshishonga v Minister of Justice & Constitutional sDevelopment supra.


End of Document
21 Requirements for disclosure to be protected
Page 2 of 3


