



Operational requirements or automatically unfair?
IR - Weekly Comment

Operational requirements or automatically unfair?

The decision of the Labour Court in McLaughlin v Independent Loss Consultants CC  (2013) 22 LC 8.29.1 again shows that it is necessary for an employee to lay a sound factual foundation when he or she claims that the dismissal was automatically unfair – the issue was and remains one of causation. The pivotal question, in virtually all of these cases, is whether the employee can prove that the dismissal was for an automatically unfair reason (as envisaged in section 187 of the Labour Relations Act 66 of 1995 – the LRA). No employer will concede that the dismissal was for an automatically unfair reason, and so the Labour Court is invariably faced with two mutually exclusive versions: that the dismissal was for an automatically unfair reason (as the  claims) or that it was for another reason altogether (as claimed by the employer). 

In this case the employee was a switchboard operator/receptionist and she had been working for the employer for just more than a year. The employer informed its employees that they would be retrenched – the employee concerned, unhappy about this decision, referred a dispute about her dismissal to the CCMA. 

The facts presented to the Labour Court, however, showed that things were considerably more complex than a simple retrenchment: the employee claimed that 15 days into her employment she was subjected to sexual harassment by the owner’s son. It all started off with the son making jokes of a sexual nature – the employee simply dismissed these jokes as she had known the owner’s son for about three years. Naturally, the jokes were not the end of the matter – the person concerned wanted to take matters considerably further. 

The employee did not, however, report the matter immediately – it was only about then months later that the incident was brought to the employer’s attention. The employee claimed that she was scared to report the matter or to inform anyone about the incident because she feared losing her job. She was determined to keep her job, because she was saving money to go to New Zealand for a holiday: as it turned out, she went to Durban instead. On her return from her holiday, the employee received a notice that she was retrenched. 

The only question before the Labour Court was whether the dismissal was automatically unfair or not. In terms of section 187, a dismissal would be automatically unfair , amongst other reasons, if it is the result of the employee’s exercising any right in terms of the LRA, if the employee participates in any proceedings in terms of the LRA or if the dismissal was the direct result of the employee’s having made a Protected Disclosure in terms of the Protected Disclosures Act of 2000. A dismissal based on discrimination would also be automatically unfair. 

Also relevant in the present context is section 5 of the Employment Equity Act 55 of 1998 (the EEA). This provision places an obligation on employers to take positive steps to ensure that all employees enjoy equal opportunities and that unfair discrimination is eliminated. The unfair discrimination point is taken further by section 6 of the EEA – this section contains a much more detailed prohibition against unfair discrimination. 

Section 6(3) of the EEA provides that sexual harassment constitutes a form of discrimination. Once proven, sexual discrimination falling within the ambit of the definition of discrimination as contained in the EEA may entitle the employee to a court order that is “just and equitable” in the circumstances – this may include compensation to be paid to the employee. 

The Labour Court also considers the position regarding protected disclosures: a disclosure would be protected if the employee made the disclosure in good faith while believing that the information disclosed were substantially true and if the disclosure was not made for personal gain. 

On the facts of the case the Labour Court found that there had been sexual harassment of the employee, despite the fact that the harassment had not been reported to the employer for a period of ten months. But this only took the enquiry one step further: had the employee presented enough evidence to link her dismissal to the disclosure she had made about the sexual harassment. The employee’s case was, after all, based on the allegation not that she had been sexually harassed, but that the reason for her dismissal was linked to the disclosure of such harassment. 

The employee conceded, during the course of the Labour Court proceedings, that she did not lodge a grievance regarding the alleged sexual harassment. She also agreed that she never sought to exercise any right conferred on her by the LRA. She also admitted that her working environment was safe and that she never sought any protection from the employer. She could, she agreed, have brought the allegations to the notice of the employer. The evidence also showed that the employer was entirely unaware of the sexual harassment allegations until the retrenchment process got underway. Once the employer became aware of the issue, meetings were scheduled to try and deal with the issues immediately – these meetings never bore any fruit. 

This meant, the Labour Court concluded, that the employee’s claim failed. There was simply not enough evidence to link the allegations made by the employee, the claim that her dismissal was based on a protected disclosure and the realities of the situation to the employee’s dismissal. As happens so often, the employee’s claim failed because she could not establish the pivotal causal link between her dismissal and one of the grounds of automatically unfair dismissal in section 187 of the LRA. 

‘Till next week

Carl Mischke


End of Document